<!-- <p id="notice"><%= notice %></p> -->

<h1>Latest Ads</h1>
	<ul>
    <% @ads.each do |ad| %>
	    <li class="listing">
	    	<div class="col-xs-2">
	    		<%= image_tag ad.img_url.url(:thumb) %>
	    	</div>
	    	<div class="col-xs-8">
	      	<h2><%= link_to ad.title, ad %></h2>
	      </div>
	      <div class="col-xs-2">
	      	<h3><%= number_to_currency(ad.price) %></h3>
	    	</div>
	    	
	    </li>
	  	</br>
    <% end %>
  </ul>
<br>

<%= will_paginate @ads, renderer: BootstrapPagination::Rails %>