<p id="notice"><%= notice %></p>


<%= image_tag @ad.img_url.url(:medium) %>

<p>
  <strong>User:</strong> <%= @ad.user.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@ad.price) %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @ad.img_url %>
</p>

<% if @ad.user == current_user %>
	<%= link_to 'Destroy', @ad, method: :delete, data: { confirm: 'Are you sure?' } %> |
	<%= link_to 'Edit', edit_ad_path(@ad) %> |
<% end %>

<%= link_to 'Back', root_path %>
