<!DOCTYPE html>
<html>
<head>
  <title>Board</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


	<nav class="navbar navbar-default">
		<div class="container">
			<%= link_to 'Board', root_path, class: "navbar-brand" %>
			<%= link_to 'New Board Ad', new_ad_path, class: "navbar-text navbar-right navbar-link" %>
		</div>
	</nav>

<div class="container">
	<%= form_tag(ads_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="input-append search-wrapper">
      <%= text_field_tag :search, params[:search], class: "span2 form-control search-field", placeholder: "Search Ads" %>
      <button class="btn search-btn" type="submit">Search</button>
    </div>
  <% end %>
 </div> 


<div class="container">
<ul class="nav nav-tabs nav-justified">
	<li><%= link_to "All Categories", root_path %></li>
	<% Category.all.each do |category| %>
		<li><%= link_to category.name, ads_path(category: category.name) %></li>
	<% end %>
</ul>



	<%= yield %>
</div>
</body>
</html>
